/*--------------------------
		
		Book Page Details 
		
----------------------------*/
.mySlides {
    padding-top: 2%;
}

.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.product-title h1 {
    font-size: 1.5rem;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.sectionWhite {
    border-radius: 11px;
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    margin: 12px 0 48px;
    padding: 31px 20px 100px;
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}


/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
    content: '$';
}


.product .product-image {
    text-align: center;
}


.product .product-details .product-title {
    margin-right: 20px;
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}


/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        padding-top: 20px;
        border-top: 1px solid #eee;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        margin: 0 0 10px 10px;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }

    .product-quantity input {
        margin-left: 20px;
    }

    .product-quantity:before {
        content: 'x';
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'Item Total: $';
    }

    .totals .totals-item label {
        width: 60%;
    }

    .totals .totals-item .totals-value {
        width: 40%;
    }
}

/*--------------------------
		
		Main page properties
		
----------------------------*/


@media (max-width: 991px) {
    .sectionWhite {
        max-width: 100%;
        padding-bottom: 100px;
        margin: 0 5px 40px 0;
    }
}

.search {
    border-radius: 20px;
    background-color: #f1f0eb;
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px 16px;
}

.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

@media (max-width: 991px) {
    .search {
        max-width: 100%;
    }
}

.searchBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5%;
}


.logo {
    font: 700 40px Inter, sans-serif;
    margin-right: 20px;
}


.icons {
    margin-right: 5%;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 5%;
    flex-wrap: wrap;
    align-items: start;
    gap: 11.7%;
}

.navBar a {
    color: var(--main-color);
    font: 400 30px Inter, sans-serif;
}


.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 30px 0 0;
}


.div-9 {
    color: #c05a34;
    align-self: center;
    margin-top: 34px;
    white-space: nowrap;
    font: 400 28px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
    }
}

.div-10 {
    background-color: #c05a34;
    align-self: center;
    margin-top: 21px;
    width: 997px;
    height: 3px;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
    }
}

/* -------------------
        NEWSLETTER 
 --------------------*/

.newsletter {
    display: flex;
    color: var(--main-color);
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsLetterText {
        text-align: center;
        padding-bottom: 20px;
    }

}

.newsLetterText h2 {
    font-size: 2.1rem;
    color: var(--section-color);
}

.newsLetterSignup input {
    padding: 10px;
    border-radius: 8px;
    gap: 0%;
    color: var(--section-color);
}

.newsLetterSignup input:nth-child(1) {
    background-color: var(--extraColor);
    border-style: none;
}

.newsLetterSignup input:nth-child(2) {
    background-color: var(--extraColor);
    color: var(--main-color);
    border-style: none;
}

/* ------------
    FOOTER
--------------- */


.main-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: var(--section-color);
}

.main-footer a {
    text-decoration: none;
    color: var(--section-color);
}

.categories,
.support {
    display: flex;
    flex-direction: column;
}

.support>div {
    margin-top: 20px;
}


.copyright {
    text-align: center;
    background-color: var(--main-color);
    color: var(--section-color);
    padding: 20px;
}


@media screen and (max-width:991px) {
    .main-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 12px;
        text-align: center;
        padding: 15px;
    }
}