/*--------------------------
		
		Book Page Details 
		
----------------------------*/
.mySlides {
    padding-top: 2%;
}

.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.product-title h1 {
    font-size: 1.5rem;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.sectionWhite {
    border-radius: 11px;
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    margin: 12px 0 48px;
    padding: 31px 20px 100px;
}

.product-image {
    float: left;
    width: 20%;
}

.product-details {
    float: left;
    width: 37%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.product-line-price span {
    font-size: 1.3rem;
    color: var(--main-color);
}

.add-to-cart-button {
    background-color: var(--main-color);
    font-weight: 600;
    color: var(--section-color);
    border-style: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.21);
}



.product .product-details .product-title {
    margin-right: 20px;
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}


/* Make adjustments for tablet */
@media screen and (max-width: 650px) {

    .mySlides {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .product {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        width: 240px;
        height: auto;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .add-to-cart-button {
        width: 200px;
    }

}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
    .mySlides {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .product {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        width: 240px;
        height: auto;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }
}

/*--------------------------
		
		Main page properties
		
----------------------------*/


@media (max-width: 991px) {
    .sectionWhite {
        max-width: 100%;
        padding-bottom: 100px;
    }
}

/* --------------------  NAVBAR */

.search {
    border-radius: 10px;
    background-color: #f1f0eb;
    border-style: none;
    padding: 10px 20px 16px;
    width: 100%;
}


.menu-toggle {
    order: 2;
    display: none;
}


.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
}

.logo {
    font: 700 40px Inter, sans-serif;
    letter-spacing: 10px;
}

.icons {
    margin-right: 5%;
}


.navBar a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.navBar a:hover {
    color: #c0593490;
    border-radius: 10px;
}


@media screen and (min-width: 992px) {
    .search {
        max-width: 50%;
    }

    .searchBar {
        margin-left: 0;
    }

    .navBar {
        display: flex;
        justify-content: center;
        margin-top: 1.2%;
        gap: 11.7%;
    }

    .navBar a {
        color: var(--main-color);
        font: 400 30px Inter, sans-serif;
    }
}

/* Mobile styles */
@media screen and (max-width: 991px) {

    .logo-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        transition: all 0.8s ease;
    }

    .search {
        max-width: 100%;
    }

    .searchBar {
        flex-direction: column;
    }

    .navBar {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navBar.active {
        display: flex;
    }

    .navBar a {
        color: var(--main-color);
        font: 400 20px Inter, sans-serif;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: flex;
        text-align: right;
        font-size: 1.9rem;
        color: var(--main-color);
    }


    .img-3 {
        display: none;
    }

    .img-4 {
        display: none;
    }

}

.img-3 {
    margin-left: 50px;
}

.img-4 {
    margin-left: 30px;
}

/* ----------------------------------------------- */

.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 20px 0 0;
}


.div-9 {
    color: #c05a34;
    align-self: center;
    margin-top: 40px;
    white-space: nowrap;
    font: 400 28px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
    }
}

.div-10 {
    background-color: #c05a34;
    align-self: center;
    margin-top: 21px;
    width: 997px;
    height: 3px;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
    }
}

/* -------------------
        NEWSLETTER 
 --------------------*/

.newsletter {
    display: flex;
    color: var(--main-color);
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsLetterText {
        text-align: center;
        padding-bottom: 20px;
    }

}

.newsLetterText h2 {
    font-size: 2.1rem;
    color: var(--section-color);
}

.newsLetterSignup input {
    padding: 10px;
    border-radius: 2px;
    gap: 0%;
    color: var(--main-color);
}

.newsLetterSignup input:nth-child(1) {
    background-color: var(--extraColor);
    border-style: none;
}

.newsLetterSignup input:nth-child(2) {
    background-color: var(--extraColor);
    color: var(--main-color);
    border-style: none;
}

/* ------------
    FOOTER
--------------- */


.main-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: var(--section-color);
}

.main-footer a {
    text-decoration: none;
    color: var(--section-color);
}

.categories,
.support {
    display: flex;
    flex-direction: column;
}

.support>div {
    margin-top: 20px;
}


.copyright {
    text-align: center;
    background-color: var(--main-color);
    color: var(--section-color);
    padding: 20px;
}


@media screen and (max-width:991px) {
    .main-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 12px;
        text-align: center;
        padding: 15px;
    }
}