/*--------------------------
		
		Book Page Details 
		
----------------------------*/

.product-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;

    padding: 100px 0px 100px 0px;
}

.mySlides {
    padding-top: 2%;
}

.product-wrap {
    width: calc(100% / 4);
    margin: 1% 0.5%;
}

.preview {
    width: 100%;
}

.preview-img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 240px;
    width: 100%;
    position: relative;
    background-position: center center;
}

@media screen and (max-width:991px) {
    .preview-img {
        height: 130px;
        align-items: center;
        justify-content: center;
    }
}

a.preview-btn {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    transition: ease .8s all;
    padding: 0;
    width: 120px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -60px;
    border-radius: 2px;
    cursor: pointer;

}

.preview-txt {
    padding: 10px 0px;
    color: var(--main-color);
    font-size: 12px;
    border-radius: 0px 0px 2px 2px;
    width: auto;
    font-weight: bold;
}

.preview-txt p {
    text-align: center;
    color: var(--main-color);
    font-family: var(--primaryFont);
    font-weight: normal;
    font-size: 13px;
}

.preview:hover .preview-btn {
    transform: scale(1.1);
}

.product-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: #333333e6;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    -moz-box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
}

.inner-product {
    max-width: 1020px;
    display: flex;
    flex-direction: row-reverse;
    height: 540px;
    margin: 0 auto;
    background: var(--section-color);
    color: var(--main-color);
    position: absolute;
    padding: 20px 20px 20px 20px;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    -moz-box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    box-shadow: 0px -1px 5px 0px rgba(43, 43, 43, 0.52);
    top: 50%;
    left: 50%;
    margin: -290px 0px 0px -510px;
}


.gallery {
    max-width: 40%;
    height: 70%;
    float: left;
}

.product-details {
    float: right;
    max-width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: right;
}

.p-title {
    font-weight: bold;
    color: #F1748D;
    font-size: 27px;
    margin-bottom: 0;
}

.p-specs {
    font-weight: bold;
    margin-top: 5px;
}

.p-description {
    font-size: 13px;
    margin-top: 0px;
    text-align: justify;
    max-height: 360px;
    overflow-y: auto;
    padding-right: 17px;
    position: relative;
    right: -17px;
}

.p-description li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 2px;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

.product-details a {
    clear: both;
    display: inline-block;
    margin-top: 5px;
    font-size: 13px;
    border: 2px solid;
    padding: 7px 13px;
    transition: ease .2s all;
    z-index: 600;
    font-weight: 700;
    border-color: #F1748D;
    color: #F1748D;
    transition: ease .1s all;
    text-decoration: none;
}

.product-details a:hover {
    border-color: #000;
    color: #000;
}

a.hide {
    position: absolute;
    right: 12px;
    top: 2px;
    font-size: 25px;
    color: #000;
    padding: 5px 7px;
    transition: ease .2s all;
    z-index: 600;
    font-weight: bold;
}

a.hide:hover {
    color: #F1748D;
}

/*--------------------------
		
		Main page properties
		
----------------------------*/

.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.sectionWhite {
    border-radius: 11px;
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    margin: 12px 0 48px;
    padding: 31px 20px 100px;
}

@media (max-width: 991px) {
    .sectionWhite {
        max-width: 100%;
        padding-bottom: 100px;
        margin: 0 5px 40px 0;
    }
}

.mainHeaderLogo {
    display: flex;
    width: 100%;

    align-items: start;
    justify-content: space-evenly;
    gap: 5%;
}

@media (max-width: 991px) {
    .mainHeaderLogo {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.img {
    aspect-ratio: 1.16;
    object-fit: contain;
    object-position: center;
    width: 107px;
    overflow: hidden;
    max-width: 100%;
}

.mainHeader {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .mainHeader {
        max-width: 100%;
    }
}

.mainHeaderExtras {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 991px) {
    .mainHeaderExtras {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.search {
    border-radius: 20px;
    background-color: #f1f0eb;
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px 16px;
}

.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

@media (max-width: 991px) {
    .search {
        max-width: 100%;
    }
}

.img-2 {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 27px;
    fill: #c05a34;
    overflow: hidden;
    max-width: 100%;
}

@media (max-width: 991px) {
    .img-2 {
        margin-right: -4px;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 37px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 39px;
    fill: #c05a34;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.navBar {
    display: flex;
    justify-content: center;
    color: #c05a34;
    margin: 33px 0 0 -100px;
    font: 400 20px Inter, sans-serif;
    align-content: center;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    gap: 10%;
}

.navBar a {
    color: var(--main-color);
}

@media (max-width: 700px) {
    .navBar {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .navBar {
        max-width: 100%;
    }
}

.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 30px 0 0;
}

.img-5 {
    aspect-ratio: 3.68;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: stretch;
    margin: 64px -20px 0 0;
}

@media (max-width: 991px) {
    .img-5 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-9 {
    color: #c05a34;
    align-self: center;
    margin-top: 34px;
    white-space: nowrap;
    font: 400 28px Inter, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
    }
}

.div-10 {
    background-color: #c05a34;
    align-self: center;
    margin-top: 21px;
    width: 997px;
    height: 3px;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
    }
}

/* -------------------
        NEWSLETTER 
 --------------------*/

.newsletter {
    display: flex;
    color: var(--main-color);
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsLetterText {
        text-align: center;
        padding-bottom: 20px;
    }

}

.newsLetterText h2 {
    font-size: 2.1rem;
}

.newsLetterSignup input {
    padding: 10px;
    border-radius: 8px;
    gap: 0%;
}

.newsLetterSignup input:nth-child(1) {
    background-color: var(--extraColor);
    border-style: none;
}

.newsLetterSignup input:nth-child(2) {
    background-color: var(--main-color);
    color: var(--section-color);
    border-style: none;
}

/* ------------
    FOOTER
--------------- */


.main-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    color: var(--section-color);
}

.main-footer a {
    text-decoration: none;
    color: var(--section-color);
}

.categories,
.support {
    display: flex;
    flex-direction: column;
}

.support>div {
    margin-top: 20px;
}


.copyright {
    text-align: center;
    background-color: var(--main-color);
    color: var(--section-color);
    padding: 20px;
}


@media screen and (max-width:991px) {
    .main-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 12px;
        text-align: center;
        padding: 15px;
    }
}