@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

:root {
    --main-color: #C05A34;
    --section-color: #FFFDF6;
    --text-colorOnWhiteBG: #C05A34;
    --text-colorOnDifferentBG: #FFFDF6;
    --extraColor: #FFF6D9;
}

::selection {
    background-color: rgb(202, 76, 76);
}

i {
    font-size: 20px;
}

/* 4. Elements - HTML Elements of the page h1-h6, etc. */

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

a:hover {
    text-decoration: underline;
}

input {}

input:focus {}

input[type="submit"],
input[type="button"] {}

body::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}