@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    background-color: var(--main-color);
}

.sectionWhite {
    background-color: var(--section-color);
    width: 98.9%;
    height: 2000px;
    margin-top: 10px;
    margin-left: 10px;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.logo {
    font: 700 40px Inter, sans-serif;
    margin-right: 20px;
}

.search {
    border-radius: 10px;
    background-color: #f1f0eb;
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px 16px;
}

.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

.icons {
    margin-right: 5%;
}

.img-3 {
    margin-left: 30px;
}

.img-4 {
    margin-left: 10px;
}

.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 5px 0 0;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 5%;
    align-items: start;
    gap: 11.7%;
}

.navBar a {
    color: var(--main-color);
    font: 400 30px Inter, sans-serif;
}

.sectionOne {
    padding-top: 100px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partOne {
    margin-right: 10%;
    justify-content: space-between;
}

.title {
    font: 400 50px Inter, sans-serif;
}

.div-9 {
    background-color: #c05a34;
    align-self: stretch;
    height: 4px;
    margin: 5px 0 0;
}

.div-10 {
    background-color: #c05a34;
    align-self: stretch;
    height: 4px;
    margin: 70px 0 0;
}

.quote {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.quote pre {
    display: block;
    color: var(--main-color);
    font: 400 34.5px Inter, sans-serif;
}

pre b {
    font: 600 34.5px Inter, sans-serif;
}

.div-11 {
    background-color: #c05a34;
    align-self: stretch;
    height: 5px;
    margin: -10px 0 0;
}

.sec {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    color: #c05a34;
}

.sec a {
    color: #c05a34;
}

.new {
    font: 700 40px Inter, sans-serif;
}

.view {
    font: 700 20px Inter, sans-serif;
}