@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

.sectionWhite {
    background-color: var(--section-color);
    width: 100vw;
    height: 2000px;
    border: 10px solid var(--main-color);
}

/* 
@media screen and (max-width:991px) {
    .sectionWhite {
        max-width: 100%;
        margin: 0;
    }
} */

.searchBar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 5%;
}

.logo {
    font: 700 40px Inter, sans-serif;
    margin-right: 20px;
}

.search {
    border-radius: 10px;
    background-color: #f1f0eb;
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px 16px;
}

.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

.icons {
    margin-right: 5%;
}

.img-3 {
    margin-left: 30px;
}

.img-4 {
    margin-left: 10px;
}

@media screen and (max-width:991px) {
    .partOne p {
        font-size: 8px;
    }

    .img-5 {
        height: 220px;
        width: 240px;
    }
}


.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 5px 0 0;
}

.navBar {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 5%;
    flex-wrap: wrap;
    align-items: start;
    gap: 11.7%;
}

.navBar a {
    color: var(--main-color);
    font: 400 30px Inter, sans-serif;
}

.sectionOne {
    padding-top: 100px;
    padding-left: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* @media screen and (max-width: 991px) {
    .sectionOne {
        flex-direction: column;
    }
} */

.partOne {
    display: flex;
    margin-right: 10%;
    justify-content: space-between;
    flex-direction: column;
    line-height: 0;
}

.title {
    font: 400 50px Inter, sans-serif;
    margin: 0;
}

.div-9 {
    background-color: #c05a34;
    align-self: stretch;
    height: 4px;
    margin: 5px 0 0;
}

.div-10 {
    background-color: #c05a34;
    align-self: stretch;
    height: 4px;
    margin: 70px 0 0;
}

.quote {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.quote p {
    display: flex;
    color: var(--main-color);
    font: 400 34.5px Inter, sans-serif;
    margin: 0;
}

p b {
    font: 600 34.5px Inter, sans-serif;
}

.div-11 {
    background-color: #c05a34;
    align-self: stretch;
    height: 5px;
    margin: 30px 0 0;
}

.sec {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    color: #c05a34;
}

.sec a {
    color: #c05a34;
}

.new {
    font: 700 40px Inter, sans-serif;
}

.view {
    font: 700 20px Inter, sans-serif;
}

.newReleases {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.box {
    background-color: pink;
    height: 555px;
    width: 290px;
    border-radius: 10px;
}

.book1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box img {
    margin-top: 10%;
    height: 355px;
    width: 250px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.bookTitle {
    font: 600 20px Inter, sans-serif;
}

.author {
    font: 600 10px Inter, sans-serif;
    color: #c05a34;
}

.price {
    font: 400 34.5px Inter, sans-serif;
}

.btnc {
    border-radius: 10px;
    border-style: none;
    background-color: #c05a34;
    font: 400 20px Inter, sans-serif;
    color: white;
    padding: 10px;
    width: 250px;
}