@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

.container {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.sectionWhite {
    border-radius: 11px;
    background-color: var(--section-color);
    display: flex;
    flex-direction: column;
    margin: 12px 0 48px;
    padding: 31px 20px 100px;
}

@media (max-width: 991px) {
    .sectionWhite {
        max-width: 100%;
        padding-bottom: 100px;
        margin: 0 5px 40px 0;
    }
}

.mainHeaderLogo {
    display: flex;
    width: 100%;

    align-items: start;
    justify-content: space-evenly;
    gap: 5%;
}

@media (max-width: 991px) {
    .mainHeaderLogo {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.img {
    aspect-ratio: 1.16;
    object-fit: contain;
    object-position: center;
    width: 107px;
    overflow: hidden;
    max-width: 100%;
}

.mainHeader {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
}

@media (max-width: 991px) {
    .mainHeader {
        max-width: 100%;
    }
}

.mainHeaderExtras {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

@media (max-width: 991px) {
    .mainHeaderExtras {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.search {
    border-radius: 20px;
    background-color: #f1f0eb;
    border-style: none;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: end;
    padding: 10px 20px 16px;
}

.search:active {
    background-color: #f1f0eb;
    border-style: none;
}

@media (max-width: 991px) {
    .search {
        max-width: 100%;
    }
}

.img-2 {
    aspect-ratio: 1.08;
    object-fit: contain;
    object-position: center;
    width: 27px;
    fill: #c05a34;
    overflow: hidden;
    max-width: 100%;
}

@media (max-width: 991px) {
    .img-2 {
        margin-right: -4px;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 37px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 39px;
    fill: #c05a34;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.navBar {
    display: flex;
    justify-content: center;
    color: #c05a34;
    margin: 33px 0 0 -100px;
    font: 400 20px Inter, sans-serif;
    align-content: center;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    gap: 10%;
}

.navBar a {
    color: var(--main-color);
}

@media (max-width: 700px) {
    .navBar {
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .navBar {
        max-width: 100%;
    }
}

.div-8 {
    background-color: #c05a34;
    align-self: stretch;
    height: 3px;
    margin: 30px 0 0;
}

.sectionOne {
    padding-top: 100px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partOne {
    margin-right: 10%;
    justify-content: space-between;
}

.title {
    font: 400 50px Inter, sans-serif;
}

.img-6 {
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    width: 100%;
}

.sectionWhiteTwo {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    background-color: var(--section-color);
    margin-top: -5px;
    padding: 31px 20px 500px;
}